{% load static %}
<picture class="img-fluid">
        <source type="image/avif"
                srcset="{% static 'img/' %}{{ name }}-{{ width }}.avif , {% static 'img/' %}{{ name }}-{{ width|add:width }}.avif 2x" />
        <source type="image/webp"
                srcset="{% static 'img/logo-500.webp' %}, {% static 'img/logo-1000.webp' %} 2x" />
        <source type="image/jpeg" srcset="{% static 'img/jacky-500.jpg' %}" />
        <img src="{% static 'img/logo-500.jpg' %}"
             class="img-fluid"
             height="129"
             width="500"
             alt="Jacky" />
</picture>
