{% load static %}
<picture>
        <source type="image/avif"
                srcset="{% for url,width in avif_urls %} {% static url %} {{ width }}w,
                        {% endfor %}"
                sizes="(max-width: 992px) 100vw,
                       33vw" />
        <source type="image/webp"
                srcset="{% for url,width in webp_urls %} {% static url %} {{ width }}w,
                        {% endfor %}"
                sizes="(max-width: 992px) 100vw,
                       33vw" />
        <source type="image/jpeg"
                srcset="{% for url,width in jpg_urls %} {% static url %} {{ width }}w,
                        {% endfor %}"
                sizes="(max-width: 992px) 100vw,
                       33vw" />
        <img src="{% static img_url %}" class="img-fluid" alt="{{ name|capfirst }}" width={{ design_width }} height="100%" />
</picture>
