{% load static %}
<picture>
        <source type="image/avif"
                srcset="{% for url,width in avif_urls %} {% static url %} {{ width }}w,
                        {% endfor %}"
                sizes="(min-width: 600px) {{ design_width }}px,
                       calc(100vw - 72px)" />
        <source type="image/webp"
                srcset="{% for url,width in webp_urls %} {% static url %} {{ width }}w,
                        {% endfor %}"
                sizes="(min-width: 780px) 500px,
                       (min-width: 580px) 468px,
                       calc(100vw - 72px)" />
        <source type="image/jpeg"
                srcset="{% for url,width in jpg_urls %} {% static url %} {{ width }}w,
                        {% endfor %}"
                sizes="(min-width: 780px) 500px,
                       (min-width: 580px) 468px,
                       calc(100vw - 72px)" />
        <img src="{% static img_url %}" class="img-fluid" alt="{{ name|capfirst }}" width={{ design_width }} height={{ design_height }} />
</picture>
<!-- 
        (min-width: 1000px) 296px,
                       (min-width: 1200px) 261px,
                       (min-width: 1400px) 300px,
-->
