{% extends "base.html" %}
{% load picture %}
{% block title %}
  Scratch - {{ block.super }}
{% endblock title %}
{% block content %}
  <h1>Scratch</h1>
  <div class="container border border-primary">
    <!-- <div class="row">{% picture "wedding" 1400 787 True xxl=1296 xl=1116 lg=936 md=696 sm=516 %}</div> -->
    <div class="row g-0">
      <div class="col-md-6 col-lg-4 col-xl-3 ">{% picture "wedding" 500 281 True xxl=320 xl=273 lg=303 %}</div>
      <div class="col-md-6 col-lg-4 col-xl-3 ">{% picture "wedding" 500 281 True xxl=320 xl=273 lg=303 %}</div>
      <div class="col-md-6 col-lg-4 col-xl-3 ">{% picture "wedding" 500 281 True xxl=320 xl=273 lg=303 %}</div>
      <div class="col-md-6 col-lg-4 col-xl-3 ">{% picture "wedding" 500 281 True xxl=320 xl=273 lg=303 %}</div>
    </div>
    <!--
    <div class="row">
      <div class="col-xl-3">{% picture "wedding" 1400 787 True xxl=1296 xl=1116 lg=936 md=696 sm=516 %}</div>
      <div class="col-xl-3">{% picture "wedding" 1400 787 True xxl=1296 xl=1116 lg=936 md=696 sm=516 %}</div>
      <div class="col-xl-3">{% picture "wedding" 1400 787 True xxl=1296 xl=1116 lg=936 md=696 sm=516 %}</div>
    </div>
    -->
  </div>
{% endblock content %}
